<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%=title%></title>
</head>
<body>
    
    <nav>
        <a class="link" href="/create-blog"> New Blog </a>
    </nav>
    
    <main>
        <% blogs.forEach(blog => { %>
           <a href="/blog/<%=blog._id%>">
            <h3> <%= blog.title %> </h3>
           </a>  
            <p> <%= blog.snippet %> </p>
               
        <% }); %> 
    </main>
</body>
</html>